@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0e0e0e] text-white;
}

.text-gradient {
  background: linear-gradient(135deg, #84adff, #fab0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}